.padreCompl{

    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    margin: 0 auto;
    width:80%;
    align-items: baseline;
    text-align: center;
}

@media screen and (max-width:768px){
    .padreCompl{
    margin: 0 auto;
    width:80%;
    align-items: baseline;
    text-align: center;

    .hijo1{
        width: 100%;
        height: 100%;
        align-items: center;
        .hijo1-hijoA{
            width: 100%;
            height: 100%;
            .hijo1-hijoA-fila-1{
                margin-right: 1rem;
                margin-bottom: 2rem;
                height: 50%;
                width: 100%;
                filter: drop-shadow(12px 12px 10px black);
                border : 4px solid steelblue;
                border-radius: 15%;
                .imagenComp{
                    width: 60%;
                    height: 30%;
                    margin-bottom: 3rem;
                }
                .tiposh2{
                    margin-top: 3rem;
                }
                .textoTipo {
                    font-family: 'Asul', sans-serif;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 1rem;
                    line-height: 1.25rem;
                    color: #e9bfbf;
                    text-align: center;
                }
            }
            .hijo1-hijoA-fila-2{
                margin-right: 1rem;
                margin-bottom: 2rem;
                height: 50%;
                width: 100%;
                filter: drop-shadow(12px 12px 10px black);
                border: 4px solid steelblue;
                border-radius: 15%;
                .imagenComp{
                    width: 60%;
                    height: 30%;
                    margin-bottom: 3rem;
                }
                .tiposh2{
                    margin-top: 3rem;
                }
                .textoTipo {
                    font-family: 'Asul', sans-serif;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 1rem;
                    line-height: 1.25rem;
                    color: #e9bfbf;
                    text-align: center;
                }
            }
        }
    }

    .hijo2{
        width: 100%;
        height: 100%;
        align-items: center;
        .hijo2-hijoA{  
            width: 100%;
            height: 100%;
        
            .hijo2-hijoA-fila-1{
                margin-left: 1rem;
                margin-bottom: 2rem;
                height: 50%;
                width: 100%;
                filter: drop-shadow(12px 12px 10px black);
                border: 4px solid steelblue;
                border-radius: 15%;

                .imagenComp{
                    width: 60%;
                    height: 30%;
                    margin-bottom: 3rem;
                }
                .tiposh2{
                    margin-top: 3rem;
                }
                    
                .textoTipo {
                    font-family: 'Asul', sans-serif;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 1rem;
                    line-height: 1.25rem;
                    color: #e9bfbf;
                    text-align: center;
                }
            }
            .hijo2-hijoA-fila-2{
                margin-left: 1rem;
                margin-bottom: 2rem;
                height: 50%;
                width: 100%;
                filter: drop-shadow(12px 12px 10px black);
                border: 4px solid steelblue;
                border-radius: 15%;

                .imagenComp{
                    width: 60%;
                    height: 30%;
                    margin-bottom: 3rem;
                }
                    
                .tiposh2{
                    margin-top: 3rem;
                }
                    
                .textoTipo {
                    font-family: 'Asul', sans-serif;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 1rem;
                    line-height: 1.25rem;
                    color: #e9bfbf;
                    text-align: center;
                }
                }
            }
        }
    }
}

@media screen and (max-width:480px){
    .padreCompl{
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        width:80%;
        align-items: baseline;
        text-align: center;

    .hijo1{
        grid-row: 1 / span 2;
        width: 100%;
        height: 100%;
        align-items: center;
        .hijo1-hijoA{
            width: 100%;
            height: 100%;
            .hijo1-hijoA-fila-1{
                margin-right: 1rem;
                margin-bottom: 2rem;
                height: 50%;
                width: 100%;
                filter: drop-shadow(12px 12px 10px black);
                border : 4px solid steelblue;
                border-radius: 15%;
                .imagenComp{
                    width: 60%;
                    height: 30%;
                    margin-bottom: 3rem;
                }
                .tiposh2{
                    margin-top: 3rem;
                }
                .textoTipo {
                    font-family: 'Asul', sans-serif;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 1rem;
                    line-height: 1.25rem;
                    color: #e9bfbf;
                    text-align: center;
                }
            }
            .hijo1-hijoA-fila-2{
                margin-right: 1rem;
                margin-bottom: 2rem;
                height: 50%;
                width: 100%;
                filter: drop-shadow(12px 12px 10px black);
                border: 4px solid steelblue;
                border-radius: 15%;
                .imagenComp{
                    width: 60%;
                    height: 30%;
                    margin-bottom: 3rem;
                }
                .tiposh2{
                    margin-top: 3rem;
                }
                .textoTipo {
                    font-family: 'Asul', sans-serif;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 1rem;
                    line-height: 1.25rem;
                    color: #e9bfbf;
                    text-align: center;
                }
            }
        }
    }

    .hijo2{
        grid-row: 3 / span 4;
        width: 100%;
        height: 100%;
        align-items: center;
        .hijo2-hijoA{  
            width: 100%;
            height: 100%;
        
            .hijo2-hijoA-fila-1{
                margin-left: 1rem;
                margin-bottom: 2rem;
                height: 50%;
                width: 100%;
                filter: drop-shadow(12px 12px 10px black);
                border: 4px solid steelblue;
                border-radius: 15%;

                .imagenComp{
                    width: 60%;
                    height: 30%;
                    margin-bottom: 3rem;
                }
                .tiposh2{
                    margin-top: 3rem;
                }
                    
                .textoTipo {
                    font-family: 'Asul', sans-serif;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 1rem;
                    line-height: 1.25rem;
                    color: #e9bfbf;
                    text-align: center;
                }
            }
            .hijo2-hijoA-fila-2{
                margin-left: 1rem;
                margin-bottom: 2rem;
                height: 50%;
                width: 100%;
                filter: drop-shadow(12px 12px 10px black);
                border: 4px solid steelblue;
                border-radius: 15%;

                .imagenComp{
                    width: 60%;
                    height: 30%;
                    margin-bottom: 3rem;
                }
                    
                .tiposh2{
                    margin-top: 3rem;
                }
                    
                .textoTipo {
                    font-family: 'Asul', sans-serif;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 1rem;
                    line-height: 1.25rem;
                    color: #e9bfbf;
                    text-align: center;
                }
                }
            }
        }
    }
}



.hijo1{
    grid-column: 1 / span 2;
    width: 100%;
    height: 100%;
    align-items: center;
}

.hijo2{
    grid-column:  3 / span 4;
    width: 100%;
    height: 100%;
    align-items: center;
}



.hijo1-hijoA{

    width: 100%;
    height: 100%;
}

.hijo2-hijoA{  
    width: 100%;
    height: 100%;
}


.hijo1-hijoA-fila-1{
    margin-right: 1rem;
    margin-bottom: 2rem;
    height: 50%;
    width: 100%;
    filter: drop-shadow(12px 12px 10px black);
    border : 4px solid steelblue;
    border-radius: 15%;



}

.hijo1-hijoA-fila-2{
    margin-right: 1rem;
    margin-bottom: 2rem;
    height: 50%;
    width: 100%;
    filter: drop-shadow(12px 12px 10px black);
    border: 4px solid steelblue;
    border-radius: 15%;

}


.hijo2-hijoA-fila-1{
    margin-left: 1rem;
    margin-bottom: 2rem;
    height: 50%;
    width: 100%;
    filter: drop-shadow(12px 12px 10px black);
    border: 4px solid steelblue;
    border-radius: 15%;

}




.hijo2-hijoA-fila-2{
    margin-left: 1rem;
    margin-bottom: 2rem;
    height: 50%;
    width: 100%;
    filter: drop-shadow(12px 12px 10px black);
    border: 4px solid steelblue;
    border-radius: 15%;

}

.imagenComp{
    width: 85%;
    height: 47%;
    margin-bottom: 3rem;
}

.tiposh2{
    margin-top: 3rem;
}

.textoTipo {
    font-family: 'Asul', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.75rem;
    color: #e9bfbf;
    text-align: center;
}


