
.carruselDesc{
    display: flex;
    align-content: center;
    margin: auto;
    margin-left: 28%;
    width: 800px;
    height: 450px;

}


@media screen and (max-width:768px){

    .carruselDesc{
        display: flex;
        align-content: center;
        margin: auto;
        width: 82%;
        height: 60%;
    
    }
}

@media screen and (max-width:768px){
    .TextDescargas {
            padding:10%;
            text-align: center;
            }
    }


@media screen and (max-width:480px){

        .carruselDesc{
            display: flex;
            align-content: center;
            margin: auto;
            width: 82%;
            height: 60%;
        
        }
}

@media screen and (max-width:480px){
    .TextDescargas{
    padding: 10%;
    font-size: 1.2rem;
    text-align: center;
    }
}


