.imgIni{
    filter: drop-shadow(20px 20px 15px black);
    border: 0.2rem solid steelblue;
    padding:  0.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 15%;
}

@media screen and (max-width:768px){
.imgIni{
    height: 90%;
    width: 80%;
    filter: drop-shadow(10px 10px 5px black);
    border: 0.2rem solid steelblue;
    padding:  0.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 10%;
}
}

@media screen and (max-width:480px){
.imgIni{
    height:70%;
    width: 80% ;
    filter: drop-shadow(5px 5px 2.5px black);
    border: 0.2rem solid steelblue;
    padding:  0.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 10%;
}
}