@import url("https://fonts.googleapis.com/css2?family=Asul:wght@400;700&family=Josefin+Sans:ital,wght@0,400;1,200;1,400;1,700&display=swap");
* {
  padding: 0%;
  margin: 0%;
}

body {
  background: linear-gradient(#393053, #635985);
}

a {
  text-decoration: none;
  color: #e9bfbf;
  -webkit-text-stroke: 0.003rem #D4AF37;
}

.textNav {
  color: #d52525;
  -webkit-text-stroke: 0.003rem #D4AF37;
}

.textNav2 {
  display: none;
  color: #d52525;
  -webkit-text-stroke: 0.003rem #D4AF37;
}

@media screen and (max-width: 768px) {
  .textNav {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .textNav {
    display: none;
  }
}
p {
  font-family: "Asul", sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  margin: 1.5%;
  text-align: center;
  line-height: 1.5rem;
  letter-spacing: 0.008rem;
  color: #e9bfbf;
  -webkit-text-stroke: 0.003rem #D4AF37;
}

@media screen and (max-width: 768px) {
  p {
    font-family: "Asul", sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    margin: 2%;
    text-align: center;
    line-height: 1.5rem;
    letter-spacing: 0.01rem;
  }
}
@media screen and (max-width: 480px) {
  p {
    font-family: "Asul", sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    margin: 2%;
    text-align: center;
    line-height: 1.5rem;
    letter-spacing: 0.01rem;
  }
}
h1 {
  font-family: " Josefin Sans", sans-serif;
  font-weight: bolder;
  font-size: 30px;
  text-transform: uppercase;
  color: whitesmoke;
  -webkit-text-stroke: 0.03rem black;
  margin-top: 15px;
  margin-bottom: 40px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  h1 {
    font-family: " Josefin Sans", sans-serif;
    font-weight: bolder;
    font-size: 25px;
    text-transform: uppercase;
    margin-top: 15px;
    margin-bottom: 30px;
    text-align: center;
  }
}
@media screen and (max-width: 480px) {
  h1 {
    font-family: " Josefin Sans", sans-serif;
    font-weight: bolder;
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 15px;
    margin-bottom: 25px;
    text-align: center;
  }
}
h2 {
  font-family: " Josefin Sans", sans-serif;
  font-weight: bolder;
  font-size: 25px;
  text-transform: uppercase;
  text-decoration: underline;
  margin-bottom: 1rem;
  margin-top: 2rem;
  text-align: center;
  color: #e9bfbf;
  -webkit-text-stroke: 0.003rem whitesmoke;
}

@media screen and (max-width: 768px) {
  h2 {
    font-family: " Josefin Sans", sans-serif;
    font-weight: bolder;
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: underline;
    margin-bottom: 25px;
    margin-top: 100px;
    text-align: center;
  }
}
@media screen and (max-width: 480px) {
  h2 {
    font-family: " Josefin Sans", sans-serif;
    font-weight: bolder;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: underline;
    margin-bottom: 30px;
    text-align: center;
  }
}
.tipos {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  width: 80%;
  margin: 0% auto;
}
.tipos .tiposBox {
  text-align: center;
  padding: 0.5rem;
  margin-bottom: -2 rem;
}

.b1 {
  grid-column: 1/span 2;
  grid-template-rows: 1;
}

.b2 {
  grid-column: 3/span 4;
  grid-template-rows: 1;
}

.b3 {
  grid-column: 2/span 4;
  grid-template-rows: 2;
}

.b4 {
  grid-column: 1/span 2;
  grid-template-rows: 4;
}

.b5 {
  grid-column: 3/span 4;
  grid-template-rows: 4;
}

.TipoImg {
  border-radius: 4%;
  height: 85%;
  width: 100%;
  filter: drop-shadow(12px 12px 10px black);
}

.tipoTitle {
  margin-bottom: 0.5rem;
  text-decoration: underline;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .tipos {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0% auto;
  }
  .tipos .tiposBox {
    text-align: center;
    padding: 0.5rem;
    margin-bottom: -2 rem;
  }
  .tipos .tiposBox .TipoImg {
    border-radius: 4%;
    height: 70%;
    width: 75%;
    filter: drop-shadow(12px 12px 10px black);
  }
  .tipos .tiposBox .tipoTitle {
    margin-bottom: 0.5rem;
    text-decoration: underline;
    text-align: center;
    font-size: 2rem;
  }
}
@media screen and (max-width: 480px) {
  .tipos {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0% auto;
  }
  .tipos .tiposBox {
    text-align: center;
    padding: 0.5rem;
    margin-bottom: -2 rem;
  }
  .tipos .tiposBox .TipoImg {
    border-radius: 4%;
    height: 70%;
    width: 75%;
    filter: drop-shadow(12px 12px 10px black);
  }
  .tipos .tiposBox .tipoTitle {
    margin-bottom: 0.5rem;
    text-decoration: underline;
    text-align: center;
    font-size: 2rem;
  }
}
footer {
  background-color: whitesmoke;
  height: auto;
  width: 100%;
  border: 8px outset blueviolet;
  margin-top: 4rem;
  align-items: center;
  justify-content: center;
}
footer .redesfoot {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
footer .redesfoot .boxFoot {
  display: flex;
  height: 100px;
  width: 100px;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 1rem;
  margin-left: 2rem;
}

@media screen and (max-width: 768px) {
  footer {
    width: 100%;
  }
  footer .redesfoot {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  footer .redesfoot .boxFoot {
    display: flex;
    height: 2rem;
    width: 2rem;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0 auto;
    margin-left: 2rem;
  }
}
@media screen and (max-width: 480px) {
  footer {
    width: 100%;
    padding: 1rem;
  }
  footer .redesfoot {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  footer .redesfoot .boxFoot {
    display: flex;
    height: 2rem;
    width: 2rem;
    margin: 1rem;
    justify-content: center;
    align-content: space-around;
    flex-wrap: wrap;
  }
}
.padreCompl {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  margin: 0 auto;
  width: 80%;
  align-items: baseline;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .padreCompl {
    margin: 0 auto;
    width: 80%;
    align-items: baseline;
    text-align: center;
  }
  .padreCompl .hijo1 {
    width: 100%;
    height: 100%;
    align-items: center;
  }
  .padreCompl .hijo1 .hijo1-hijoA {
    width: 100%;
    height: 100%;
  }
  .padreCompl .hijo1 .hijo1-hijoA .hijo1-hijoA-fila-1 {
    margin-right: 1rem;
    margin-bottom: 2rem;
    height: 50%;
    width: 100%;
    filter: drop-shadow(12px 12px 10px black);
    border: 4px solid steelblue;
    border-radius: 15%;
  }
  .padreCompl .hijo1 .hijo1-hijoA .hijo1-hijoA-fila-1 .imagenComp {
    width: 60%;
    height: 30%;
    margin-bottom: 3rem;
  }
  .padreCompl .hijo1 .hijo1-hijoA .hijo1-hijoA-fila-1 .tiposh2 {
    margin-top: 3rem;
  }
  .padreCompl .hijo1 .hijo1-hijoA .hijo1-hijoA-fila-1 .textoTipo {
    font-family: "Asul", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.25rem;
    color: #e9bfbf;
    text-align: center;
  }
  .padreCompl .hijo1 .hijo1-hijoA .hijo1-hijoA-fila-2 {
    margin-right: 1rem;
    margin-bottom: 2rem;
    height: 50%;
    width: 100%;
    filter: drop-shadow(12px 12px 10px black);
    border: 4px solid steelblue;
    border-radius: 15%;
  }
  .padreCompl .hijo1 .hijo1-hijoA .hijo1-hijoA-fila-2 .imagenComp {
    width: 60%;
    height: 30%;
    margin-bottom: 3rem;
  }
  .padreCompl .hijo1 .hijo1-hijoA .hijo1-hijoA-fila-2 .tiposh2 {
    margin-top: 3rem;
  }
  .padreCompl .hijo1 .hijo1-hijoA .hijo1-hijoA-fila-2 .textoTipo {
    font-family: "Asul", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.25rem;
    color: #e9bfbf;
    text-align: center;
  }
  .padreCompl .hijo2 {
    width: 100%;
    height: 100%;
    align-items: center;
  }
  .padreCompl .hijo2 .hijo2-hijoA {
    width: 100%;
    height: 100%;
  }
  .padreCompl .hijo2 .hijo2-hijoA .hijo2-hijoA-fila-1 {
    margin-left: 1rem;
    margin-bottom: 2rem;
    height: 50%;
    width: 100%;
    filter: drop-shadow(12px 12px 10px black);
    border: 4px solid steelblue;
    border-radius: 15%;
  }
  .padreCompl .hijo2 .hijo2-hijoA .hijo2-hijoA-fila-1 .imagenComp {
    width: 60%;
    height: 30%;
    margin-bottom: 3rem;
  }
  .padreCompl .hijo2 .hijo2-hijoA .hijo2-hijoA-fila-1 .tiposh2 {
    margin-top: 3rem;
  }
  .padreCompl .hijo2 .hijo2-hijoA .hijo2-hijoA-fila-1 .textoTipo {
    font-family: "Asul", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.25rem;
    color: #e9bfbf;
    text-align: center;
  }
  .padreCompl .hijo2 .hijo2-hijoA .hijo2-hijoA-fila-2 {
    margin-left: 1rem;
    margin-bottom: 2rem;
    height: 50%;
    width: 100%;
    filter: drop-shadow(12px 12px 10px black);
    border: 4px solid steelblue;
    border-radius: 15%;
  }
  .padreCompl .hijo2 .hijo2-hijoA .hijo2-hijoA-fila-2 .imagenComp {
    width: 60%;
    height: 30%;
    margin-bottom: 3rem;
  }
  .padreCompl .hijo2 .hijo2-hijoA .hijo2-hijoA-fila-2 .tiposh2 {
    margin-top: 3rem;
  }
  .padreCompl .hijo2 .hijo2-hijoA .hijo2-hijoA-fila-2 .textoTipo {
    font-family: "Asul", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.25rem;
    color: #e9bfbf;
    text-align: center;
  }
}
@media screen and (max-width: 480px) {
  .padreCompl {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 80%;
    align-items: baseline;
    text-align: center;
  }
  .padreCompl .hijo1 {
    grid-row: 1/span 2;
    width: 100%;
    height: 100%;
    align-items: center;
  }
  .padreCompl .hijo1 .hijo1-hijoA {
    width: 100%;
    height: 100%;
  }
  .padreCompl .hijo1 .hijo1-hijoA .hijo1-hijoA-fila-1 {
    margin-right: 1rem;
    margin-bottom: 2rem;
    height: 50%;
    width: 100%;
    filter: drop-shadow(12px 12px 10px black);
    border: 4px solid steelblue;
    border-radius: 15%;
  }
  .padreCompl .hijo1 .hijo1-hijoA .hijo1-hijoA-fila-1 .imagenComp {
    width: 60%;
    height: 30%;
    margin-bottom: 3rem;
  }
  .padreCompl .hijo1 .hijo1-hijoA .hijo1-hijoA-fila-1 .tiposh2 {
    margin-top: 3rem;
  }
  .padreCompl .hijo1 .hijo1-hijoA .hijo1-hijoA-fila-1 .textoTipo {
    font-family: "Asul", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.25rem;
    color: #e9bfbf;
    text-align: center;
  }
  .padreCompl .hijo1 .hijo1-hijoA .hijo1-hijoA-fila-2 {
    margin-right: 1rem;
    margin-bottom: 2rem;
    height: 50%;
    width: 100%;
    filter: drop-shadow(12px 12px 10px black);
    border: 4px solid steelblue;
    border-radius: 15%;
  }
  .padreCompl .hijo1 .hijo1-hijoA .hijo1-hijoA-fila-2 .imagenComp {
    width: 60%;
    height: 30%;
    margin-bottom: 3rem;
  }
  .padreCompl .hijo1 .hijo1-hijoA .hijo1-hijoA-fila-2 .tiposh2 {
    margin-top: 3rem;
  }
  .padreCompl .hijo1 .hijo1-hijoA .hijo1-hijoA-fila-2 .textoTipo {
    font-family: "Asul", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.25rem;
    color: #e9bfbf;
    text-align: center;
  }
  .padreCompl .hijo2 {
    grid-row: 3/span 4;
    width: 100%;
    height: 100%;
    align-items: center;
  }
  .padreCompl .hijo2 .hijo2-hijoA {
    width: 100%;
    height: 100%;
  }
  .padreCompl .hijo2 .hijo2-hijoA .hijo2-hijoA-fila-1 {
    margin-left: 1rem;
    margin-bottom: 2rem;
    height: 50%;
    width: 100%;
    filter: drop-shadow(12px 12px 10px black);
    border: 4px solid steelblue;
    border-radius: 15%;
  }
  .padreCompl .hijo2 .hijo2-hijoA .hijo2-hijoA-fila-1 .imagenComp {
    width: 60%;
    height: 30%;
    margin-bottom: 3rem;
  }
  .padreCompl .hijo2 .hijo2-hijoA .hijo2-hijoA-fila-1 .tiposh2 {
    margin-top: 3rem;
  }
  .padreCompl .hijo2 .hijo2-hijoA .hijo2-hijoA-fila-1 .textoTipo {
    font-family: "Asul", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.25rem;
    color: #e9bfbf;
    text-align: center;
  }
  .padreCompl .hijo2 .hijo2-hijoA .hijo2-hijoA-fila-2 {
    margin-left: 1rem;
    margin-bottom: 2rem;
    height: 50%;
    width: 100%;
    filter: drop-shadow(12px 12px 10px black);
    border: 4px solid steelblue;
    border-radius: 15%;
  }
  .padreCompl .hijo2 .hijo2-hijoA .hijo2-hijoA-fila-2 .imagenComp {
    width: 60%;
    height: 30%;
    margin-bottom: 3rem;
  }
  .padreCompl .hijo2 .hijo2-hijoA .hijo2-hijoA-fila-2 .tiposh2 {
    margin-top: 3rem;
  }
  .padreCompl .hijo2 .hijo2-hijoA .hijo2-hijoA-fila-2 .textoTipo {
    font-family: "Asul", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.25rem;
    color: #e9bfbf;
    text-align: center;
  }
}
.hijo1 {
  grid-column: 1/span 2;
  width: 100%;
  height: 100%;
  align-items: center;
}

.hijo2 {
  grid-column: 3/span 4;
  width: 100%;
  height: 100%;
  align-items: center;
}

.hijo1-hijoA {
  width: 100%;
  height: 100%;
}

.hijo2-hijoA {
  width: 100%;
  height: 100%;
}

.hijo1-hijoA-fila-1 {
  margin-right: 1rem;
  margin-bottom: 2rem;
  height: 50%;
  width: 100%;
  filter: drop-shadow(12px 12px 10px black);
  border: 4px solid steelblue;
  border-radius: 15%;
}

.hijo1-hijoA-fila-2 {
  margin-right: 1rem;
  margin-bottom: 2rem;
  height: 50%;
  width: 100%;
  filter: drop-shadow(12px 12px 10px black);
  border: 4px solid steelblue;
  border-radius: 15%;
}

.hijo2-hijoA-fila-1 {
  margin-left: 1rem;
  margin-bottom: 2rem;
  height: 50%;
  width: 100%;
  filter: drop-shadow(12px 12px 10px black);
  border: 4px solid steelblue;
  border-radius: 15%;
}

.hijo2-hijoA-fila-2 {
  margin-left: 1rem;
  margin-bottom: 2rem;
  height: 50%;
  width: 100%;
  filter: drop-shadow(12px 12px 10px black);
  border: 4px solid steelblue;
  border-radius: 15%;
}

.imagenComp {
  width: 85%;
  height: 47%;
  margin-bottom: 3rem;
}

.tiposh2 {
  margin-top: 3rem;
}

.textoTipo {
  font-family: "Asul", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.75rem;
  color: #e9bfbf;
  text-align: center;
}

.carruselDesc {
  display: flex;
  align-content: center;
  margin: auto;
  margin-left: 28%;
  width: 800px;
  height: 450px;
}

@media screen and (max-width: 768px) {
  .carruselDesc {
    display: flex;
    align-content: center;
    margin: auto;
    width: 82%;
    height: 60%;
  }
}
@media screen and (max-width: 768px) {
  .TextDescargas {
    padding: 10%;
    text-align: center;
  }
}
@media screen and (max-width: 480px) {
  .carruselDesc {
    display: flex;
    align-content: center;
    margin: auto;
    width: 82%;
    height: 60%;
  }
}
@media screen and (max-width: 480px) {
  .TextDescargas {
    padding: 10%;
    font-size: 1.2rem;
    text-align: center;
  }
}
.gridPopu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 80%;
  margin: auto;
  align-content: center;
}

@media screen and (max-width: 768px) {
  .gridPopu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    margin: auto;
    align-content: center;
  }
}
@media screen and (max-width: 480px) {
  .gridPopu {
    display: grid;
    grid-template-columns: 1fr;
    width: 80%;
    margin: auto;
    align-content: center;
  }
}
.box {
  height: 300px;
  width: 300px;
  text-align: center;
  margin: 15px;
}

.imagenPop {
  filter: drop-shadow(12px 12px 10px black);
  border: 4px solid steelblue;
  height: 200px;
  width: 150px;
  align-content: center;
  border-radius: 15%;
}

.tituloPop {
  font-family: " Josefin Sans", sans-serif;
  font-weight: bolder;
  font-size: 15px;
  text-transform: uppercase;
  color: #e9bfbf;
  -webkit-text-stroke: 0.003rem whitesmoke;
  text-decoration: underline;
  margin-bottom: 20px;
  text-align: center;
}

.imgIni {
  filter: drop-shadow(20px 20px 15px black);
  border: 0.2rem solid steelblue;
  padding: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 28%;
}

@media screen and (max-width: 768px) {
  .imgIni {
    height: 90%;
    width: 80%;
    filter: drop-shadow(10px 10px 5px black);
    border: 0.2rem solid steelblue;
    padding: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 10%;
  }
}
@media screen and (max-width: 480px) {
  .imgIni {
    height: 70%;
    width: 80%;
    filter: drop-shadow(5px 5px 2.5px black);
    border: 0.2rem solid steelblue;
    padding: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 10%;
  }
}/*# sourceMappingURL=sass.css.map */