@import url("https://fonts.googleapis.com/css2?family=Asul:wght@400;700&family=Josefin+Sans:ital,wght@0,400;1,200;1,400;1,700&display=swap");
* {
  padding: 0%;
  margin: 0%;
}

body {
  background: linear-gradient(#393053, #635985);
}

a {
  text-decoration: none;
  color: #e9bfbf;
  -webkit-text-stroke: 0.003rem #D4AF37;
}

p {
  font-family: "Asul", sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  margin: 1.5%;
  text-align: center;
  line-height: 1.5rem;
  letter-spacing: 0.008rem;
  color: #e9bfbf;
  -webkit-text-stroke: 0.003rem #D4AF37;
}

@media screen and (max-width: 768px) {
  p {
    font-family: "Asul", sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    margin: 2%;
    text-align: left;
    line-height: 1.5rem;
    letter-spacing: 0.01rem;
  }
}
@media screen and (max-width: 480px) {
  p {
    font-family: "Asul", sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    margin: 2%;
    text-align: left;
    line-height: 1.5rem;
    letter-spacing: 0.01rem;
  }
}
h1 {
  font-family: " Josefin Sans", sans-serif;
  font-weight: bolder;
  font-size: 30px;
  text-transform: uppercase;
  color: whitesmoke;
  -webkit-text-stroke: 0.03rem black;
  margin-top: 15px;
  margin-bottom: 40px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  h1 {
    font-family: " Josefin Sans", sans-serif;
    font-weight: bolder;
    font-size: 25px;
    text-transform: uppercase;
    margin-top: 15px;
    margin-bottom: 30px;
    text-align: center;
  }
}
@media screen and (max-width: 480px) {
  h1 {
    font-family: " Josefin Sans", sans-serif;
    font-weight: bolder;
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 15px;
    margin-bottom: 25px;
    text-align: center;
  }
}
h2 {
  font-family: " Josefin Sans", sans-serif;
  font-weight: bolder;
  font-size: 25px;
  text-transform: uppercase;
  text-decoration: underline;
  margin-bottom: 40px;
  text-align: center;
  color: #e9bfbf;
  -webkit-text-stroke: 0.003rem whitesmoke;
}

@media screen and (max-width: 768px) {
  h2 {
    font-family: " Josefin Sans", sans-serif;
    font-weight: bolder;
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: underline;
    margin-bottom: 25px;
    margin-top: 100px;
    text-align: center;
  }
}
@media screen and (max-width: 480px) {
  h2 {
    font-family: " Josefin Sans", sans-serif;
    font-weight: bolder;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: underline;
    margin-bottom: 30px;
    text-align: center;
  }
}
.imgIni {
  filter: drop-shadow(20px 20px 15px black);
  border: 0.2rem solid steelblue;
  padding: 0.5rem;
  margin: 10%;
}

@media screen and (max-width: 768px) {
  .imgIni {
    height: 90%;
    width: 80%;
    filter: drop-shadow(10px 10px 5px black);
    border: 0.2rem solid steelblue;
    padding: 0.5rem;
    margin: 10%;
  }
}
@media screen and (max-width: 480px) {
  .imgIni {
    height: 70%;
    width: 80%;
    filter: drop-shadow(5px 5px 2.5px black);
    border: 0.2rem solid steelblue;
    padding: 0.5rem;
    margin: 10%;
  }
}
/* -----------------------------------------FOOTER---------------------- */
footer {
  background-color: whitesmoke;
  height: auto;
  width: 100%;
  border: 8px outset blueviolet;
  margin-top: 2rem;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  footer {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  footer {
    width: 100%;
    padding: 1rem;
  }
}
.redesfoot {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.boxFoot {
  display: flex;
  height: 100px;
  width: 100px;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 1rem;
  margin-left: 2rem;
}

@media screen and (max-width: 768px) {
  .boxFoot {
    display: flex;
    height: 2rem;
    width: 2rem;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0 auto;
    margin-left: 2rem;
  }
}
@media screen and (max-width: 480px) {
  .boxFoot {
    display: flex;
    height: 2rem;
    width: 2rem;
    margin: 1rem;
    justify-content: center;
    align-content: space-around;
    flex-wrap: wrap;
  }
}
/*------------------------         SECCION TIPOS       --------------------*/
.tipos {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  width: 80%;
  margin: 0% auto;
}

.tiposBox {
  text-align: center;
  padding: 0.5rem;
  margin-bottom: -2 rem;
}

.b1 {
  grid-column: 1/span 2;
}

.b2 {
  grid-column: 3/span 4;
}

.b3 {
  grid-column: 2/span 4;
}

.b4 {
  grid-column: 1/span 2;
}

.b5 {
  grid-column: 3/span 4;
}

.TipoImg {
  border-radius: 4%;
  height: 85%;
  width: 100%;
  filter: drop-shadow(12px 12px 10px black);
}

.tipoTitle {
  margin-bottom: 0.5rem;
  text-decoration: underline;
  text-align: center;
}

/*------------------------ SECCION COMPLEMENTOS Grids --------------------*/
.padreCompl {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: space-around;
  margin: 0 auto;
  width: 80%;
  left: 2em;
  right: 2em;
  margin: 2em;
}

.hijo1 {
  display: grid;
  width: 100%;
  height: 100%;
}

.hijo2 {
  display: grid;
  width: 100%;
  height: 100%;
}

.hijo1-hijoA {
  display: grid;
  width: 100%;
  height: 100%;
}

.hijo2-hijoA {
  display: grid;
  width: 100%;
  height: 100%;
}

.hijo1-hijoA-fila-0 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 22px 200px 1fr;
  grid-template-areas: "titulo0 titulo0" "texto0 texto0" "libro libro";
}

.hijo2-hijoA-fila-1 {
  display: grid;
  margin-left: 60px;
  grid-template-columns: 50% 50%;
  grid-template-rows: 22px 200px 1fr;
  text-align: end;
  margin-bottom: 240px;
  grid-template-areas: "titulo1 titulo1" "texto1 texto1" "imagen imagen";
}

.hijo2-hijoA-fila-2 {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 22px 150px 1fr;
  grid-template-areas: "titulo2 titulo2" "texto2 texto2" "minis minis";
}

.hijo1-hijoA-fila-3 {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 22px 1fr 2fr;
  grid-template-areas: "titulo3 titulo3" "texto3 texto3" "mapa mapa";
}

.hijo1-hijoA-fila-4 {
  display: grid;
  grid-column: 2fr;
  grid-template-columns: 50% 50%;
  grid-template-rows: 22px 1fr 2fr;
  margin-left: 90px;
  grid-template-areas: "titulo4 titulo4" "texto4 texto4" "pantalla pantalla";
}

/* ---------------Textos Grids Complementoss--------- */
.texto0 {
  font-family: "Asul", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 44px;
  color: #e9bfbf;
  -webkit-text-stroke: 0.003rem whitesmoke;
  text-align: center;
  grid-area: texto0;
}

.texto1 {
  font-family: "Asul", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 44px;
  color: #e9bfbf;
  -webkit-text-stroke: 0.003rem whitesmoke;
  grid-area: texto1;
}

.texto2 {
  font-family: "Asul", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 44px;
  color: #e9bfbf;
  -webkit-text-stroke: 0.003rem whitesmoke;
  text-align: left;
  grid-area: texto2;
}

.texto3 {
  font-family: "Asul", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 44px;
  color: #e9bfbf;
  -webkit-text-stroke: 0.003rem whitesmoke;
  text-align: left;
  grid-area: texto3;
}

.texto4 {
  font-family: "Asul", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 44px;
  color: #e9bfbf;
  -webkit-text-stroke: 0.003rem whitesmoke;
  text-align: left;
  grid-area: texto4;
}

/* ---------------Titulos Grids Complementoss--------- */
.titulos0 {
  font-family: "Asul", sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
  line-height: 44px;
  color: #e9bfbf;
  -webkit-text-stroke: 0.003rem whitesmoke;
  text-align: left;
  grid-area: titulo0;
}

.titulos1 {
  font-family: "Asul", sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
  line-height: 44px;
  color: #e9bfbf;
  -webkit-text-stroke: 0.003rem whitesmoke;
  text-align: left;
  grid-area: titulo1;
}

.titulos2 {
  font-family: "Asul", sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
  line-height: 44px;
  color: #e9bfbf;
  -webkit-text-stroke: 0.003rem whitesmoke;
  text-align: left;
  grid-area: titulo2;
}

.titulos3 {
  font-family: "Asul", sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
  line-height: 44px;
  color: #e9bfbf;
  -webkit-text-stroke: 0.003rem whitesmoke;
  text-align: left;
  grid-area: titulo3;
}

.titulos4 {
  font-family: "Asul", sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
  line-height: 44px;
  color: #e9bfbf;
  -webkit-text-stroke: 0.003rem whitesmoke;
  text-align: left;
  grid-area: titulo4;
}

/* ---------------Imagenes Grids Complementoss--------- */
.ImagenLibro {
  width: 80%;
  height: 80%;
  grid-area: libro;
  filter: drop-shadow(12px 12px 10px black);
}

.ImagenComplemento {
  width: 160px;
  height: 150px;
  grid-area: imagen;
  filter: drop-shadow(12px 12px 10px black);
}

.imagenMapas {
  width: 200px;
  height: 200px;
  grid-area: mapa;
  filter: drop-shadow(12px 12px 10px black);
}

.imagenPantalla {
  width: 200px;
  height: 200px;
  grid-area: pantalla;
  filter: drop-shadow(12px 12px 10px black);
}

/* -------------------------------------------------------------------- */
/* --------------------------SECCION - POPULARES----------------------------------------- */
.gridPopu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 80%;
  margin: auto;
  align-content: center;
}

@media screen and (max-width: 768px) {
  .gridPopu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    margin: auto;
    align-content: center;
  }
}
@media screen and (max-width: 480px) {
  .gridPopu {
    display: grid;
    grid-template-columns: 1fr;
    width: 80%;
    margin: auto;
    align-content: center;
  }
}
.box {
  height: 300px;
  width: 300px;
  text-align: center;
  margin: 15px;
}

.imagenPop {
  filter: drop-shadow(12px 12px 10px black);
  border: 4px solid steelblue;
  height: 200px;
  width: 150px;
  align-content: center;
  border-radius: 15%;
}

.tituloPop {
  font-family: " Josefin Sans", sans-serif;
  font-weight: bolder;
  font-size: 15px;
  text-transform: uppercase;
  color: #e9bfbf;
  -webkit-text-stroke: 0.003rem whitesmoke;
  text-decoration: underline;
  margin-bottom: 20px;
  text-align: center;
}

/* -------------------------------------------------------------------- */
/* --------------------------SECCION - DESCARGAS----------------------------------------- */
.carruselDesc {
  display: flex;
  align-content: center;
  margin: auto;
  width: 60%;
  height: 70%;
}

.textDesc {
  -webkit-text-stroke: 0.5px black;
  color: antiquewhite;
}/*# sourceMappingURL=sass.css.map */